*{
    font-family: 'poppins', sans-serif;
    color: #EEEEEE;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
}

.form-text{
    color: white;
    opacity: 0.3;
}
.form-label{
    color: #EEEEEE;
}

.gradient{
    background: -webkit-linear-gradient(90deg, oklch(53.18% 0.28 296.97),oklch(69.02% 0.277 332.77));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control{
    border-radius: 1em;
    width: 500px;   
}

.btn{
    width:100%;
}

/* .main{
    padding: 30px;
    background: #EEEEEE;
    border-radius: 2em;
} */


/* CSS */
.button-48 {
  appearance: none;
  background: -webkit-linear-gradient(90deg, oklch(53.18% 0.28 296.97),oklch(69.02% 0.277 332.77));
  border-width: 0;
  box-sizing: border-box;
  border-radius: 1em;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  border-radius: 1em;
  background-color: oklch(53.18% 0.28 296.97);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
    border-radius: 1em;
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    border-radius: 1em;
    background: -webkit-linear-gradient(90deg, oklch(53.18% 0.28 296.97),oklch(69.02% 0.277 332.77));
}

.button-48 span {
  z-index: 1;
  position: relative;
}

/* .container{
    margin-top:
} */